body {
    background: url(bg2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

ul {
    text-align: center;
    list-style: inside;
  }
h1 {
    color: white;
    text-align: center;
    font-size: 36px;
}
h2 {
    color: white;
    text-align: center;
    font-size: 30px;
}
h3 {
    color: white;
    text-align: center;
}
h4 {
    color: white;
    text-align: center;
    font-size: 40px;
}
p {
    color: white;
    text-align: center;
}
ul.a {
    list-style: url("piz.png");
    list-style-position: outside;
    margin: 0; padding: 0;
  }
ul.b {
    list-style-type: none;
    list-style-position: outside;
  }
  
/* unvisited link */
a:link {
    color: blue;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: red;
  }
  
  /* selected link */
  a:active {
    color: green;
  }

  a.piz {
  font-size:18px;
  }
  a.top{
    font-size:14px;
  }

  