{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<HTML>

    <HEAD><TITLE>Mike's Pizzeria</TITLE></HEAD>
    <style>
        h1{font-size:64px;}
h2{font-size:48px;}
h3{font-size:36px;}
h4{font-size:24px;}
h5{font-size:20px;}
h6{font-size:18px;}
    </style>
    <body>
        <div>
            <center><img src="{% static 'images/mikes_pizza.jpg' %}" ALIGN="bottom"> </center>
            <h1 style="text-align:center; color:white;"><a href="{% url 'pizzas:index' %}">Home</a></h1>
            <h2 style="text-align:center; color:white;"><a href="{% url 'pizzas:pizza_list' %}">Pizza Menu</a></h2>
        </div>
        <div>
            <div>
                <div>
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        <div>
            <hr>
            <p>Contact Information:</p>
            <P>Email me at <a href="mailto:mike_scott@baylor.edu">mike_scott@baylor.edu</a></P>
        </div>
    </body>
</HTML>
    
     
