{%extends "pizzas/base.html" %}

    {% block content %}
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        <p>Add a new Pizza</p>

        <form action="{% url 'pizzas:new_pizza' %}" method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            <table align="center">
                <tr>
                  <td>
                      <button name="submit" style="align-items: center;">
                        Add Pizza</button>
                    </td>
                    </tr>
                    </table>
        </form>


    {% endblock content %}