{%extends "pizzas/base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
    <center><h3>Pizzas</h3></center>
    <ul>
        {% for pizza in pizza_list %}
        
            <li>
                <a href="{% url 'pizzas:pizza' pizza.id %}">
                    {{pizza}}
                </a>
                    
            </li>

        {% empty %}
            <li>There are no pizzas added yet..</li>
        {% endfor %}
    </ul>
    <a href="{% url 'pizzas:new_pizza' %}">Add a new Pizza</a>
{% endblock content%}