{%extends "pizzas/base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
    <h3 style="text-align:center">{{ pizza }} </h3>
    {% if pizza.text == "Neapolitan Pizza" %}
    <center><IMG SRC="{% static 'images/np.jpg' %}" ALIGN="center" style="width:400px;height:400px;"></center>
    {% elif pizza.text == "Chicago Pizza" %}
    <center><IMG SRC="{% static 'images/chicago.jpg' %}" ALIGN="center" style="width:400px;height:400px;"></center>
    {% elif pizza.text == "New York-Style Pizza" %}
    <center><IMG SRC="{% static 'images/newyork.jpg' %}" ALIGN="center" style="width:400px;height:400px;"></center>
    {% elif pizza.text == "St. Louis-Style Pizza" %}
    <center><IMG SRC="{% static 'images/stl.jpg' %}" ALIGN="center" style="width:400px;height:400px;"></center>
    {% elif pizza.text == "Sicilian Pizza" %}
    <center><IMG SRC="{% static 'images/sicil.jpg' %}" ALIGN="center" style="width:400px;height:400px;"></center>
    {% elif pizza.text == "Greek Pizza" %}
    <center><IMG SRC="{% static 'images/greek.jpg' %}" ALIGN="center" style="width:400px;height:400px;"></center>
    {% elif pizza.text == "BBQ Pizza" %}
    <center><IMG SRC="{% static 'images/bbq.jpg' %}" ALIGN="center" style="width:400px;height:400px;"></center>
    {% endif %}



    <ul class="b">
        <h4>Toppings:</h4>
        {% for topping in toppings %}
        <li style="font-size: 1em ; font-weight: bolder; color:white;"> 
            {{ topping.get_top_choice_display }}  
            
        </li>
        {% empty %}
            <li style="font-size: 1em ; font-weight: bolder; color:white;">
                There are no toppings for this pizza yet..</li>
        {% endfor %}
    </ul>
    <ul class="b">
        <li>
            <a href="{% url 'pizzas:new_topping' pizza.id%}" >Add A New Topping</a>
        </li>
    </ul>



    <ul class="a">
        <h4>Comments:</h4>
            {% for comment in pizza.comment_set.all %}
            <li> 
                <p style="text-align:center">Date: {{ comment.date_added|date:'M d, Y H:i' }} <br> Comment: {{ comment.text}}<p>
                
            </li>     
            {% empty %}
                <li style="font-size: 1em ; font-weight: bolder; color:white;">There are no comments for this pizza yet..</li>
            {% endfor %}
    </ul>
    <ul class="b">
        <li>
            <a href="{% url 'pizzas:new_comment' pizza.id%}">Add A New Comment</a>
        </li>
        </ul>
{% endblock content%}